body {
    background-color: #dcbbdc;
    color: #333;
    margin: 0;
}

header {
    background-color: rgb(92, 45, 88);
    color: white;
    padding: 20px;
    height: 150px;
    text-align: center;
}

h2, h3{
    padding: auto;
    color: #822782;   
}

span {
    color: #ff00ff;
}


section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    padding-top: 5px;
    border-radius: 15px;
    width: 60%;
    
}

a {
   background-color: rgb(205, 163, 201);
   padding: 8px;
   border-radius: 10px;
   color: #f9f9f9;
   

}

footer{
    background-color: black;
    color: aliceblue;
    padding: 20px;
}

